* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex {
  width: 700px;
  height: 542.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.pokedex-left {
  width: 100%;
  height: 100%;
  background: red;
}

.pokedex-right {
  width: 100%;
  height: 100%;
}

.pokedex-left-top-wrap {
  height: 18%;
  width: 100%;
  filter: drop-shadow(2px 2px 1px black);
}

.pokedex-left-top {
  height: 100%;
  width: 100%;
  background: red;
  /*border: 3px solid black;*/
  clip-path: polygon(
    0% 0%,
    50% 0%,
    100% 0%,
    100% 60%,
    70% 60%,
    50% 100%,
    0% 100%
  );
  display: flex;
  /*box-shadow: 0px 0px 0px 10px black;*/
}

.blue-circle {
  height: 80px;
  width: 80px;
  margin: 10px;
  background-image: radial-gradient(circle at top left, white, blue 50px);
  /* background-size: 80px 80px; */
  border: solid 10px white;
  border-radius: 50%;
}

.circle-container {
  height: 50px;
  display: flex;
}

.red-circle {
  height: 20px;
  width: 20px;
  background-image: radial-gradient(circle at top left, white, blue 20px);
  border-radius: 50%;
  margin: 5px;
}

.yellow-circle {
  height: 20px;
  width: 20px;
  background-image: radial-gradient(circle at top left, white, yellow 20px);
  border-radius: 50%;
  margin: 5px;
}

.green-circle {
  height: 20px;
  width: 20px;
  background-image: radial-gradient(circle at top left, white, green 20px);
  border-radius: 50%;
  margin: 5px;
}

.pokedex-left-main {
  height: 75%;
  width: 100%;
  background: red;
  /*border: 3px solid black;*/
  display: flex;
  justify-content: center;
}

.screen-wrap {
  filter: drop-shadow(-2px 2px 1px black);
  height: 50%;
  width: 90%;
  margin: 10px;
}

.screen-bezel {
  height: 250px;
  width: 300px;
  background: lightgrey;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bezel-light-container {
  display: flex;
  justify-content: center;
}

.red-bezel-light {
  height: 20px;
  width: 20px;
  background-image: radial-gradient(circle at top left, white, red 20px);
  margin: 2px 10px;
  border-radius: 50%;
}

.screen {
  width: 250px;
  height: 188px;
  background: green;
}

.bezel-bottom {
  height: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.bezel-bottom-light {
  height: 20px;
  width: 20px;
  background-image: radial-gradient(circle at top left, white, red 20px);
  border-radius: 50%;
}

.vent {
  height: 2px;
  width: 50px;
  background: black;
  margin: 2px;
}

.left-bottom-button-container {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.circle-button {
  height: 40px;
  width: 40px;
  background: black;
  border-radius: 50%;
  margin: 10px;
}

/* .screen-and-button-container {

} */

.button-container {
  display: flex;
  margin: 20px 0px;
}

.button-red {
  height: 20px;
  width: 80px;
  background: red;
  border-radius: 20px;
}

.button-blue {
  height: 20px;
  width: 80px;
  background: blue;
  border-radius: 20px;
}

.bottom-screen {
  height: 80px;
  width: 140px;
  background: green;
  border-radius: 10px;
  margin-top: 40px;
}

.d-pad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 100px;
  width: 100px; */
  /* background: black; */
}

.d-pad-top {
  height: 30px;
  width: 20px;
  background: black;
}

.up-arrow {
  height: 0px;
  width: 0px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid red;
}

.d-pad-middle {
  height: 20px;
  width: 80px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-arrow {
  height: 0px;
  width: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid red;
  border-bottom: 10px solid transparent;
}

.d-pad-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: red;
}

.right-arrow {
  height: 0px;
  width: 0px;
  border-left: 10px solid red;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.d-pad-bottom {
  height: 30px;
  width: 20px;
  background: black;
  display: flex;
  align-items: flex-end;
}

.down-arrow {
  height: 0px;
  width: 0px;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.pokedex-middle {
  height: 100%;
  width: 10%;
}

.pokedex-empty-spine {
  height: 10%;
}

.pokedex-spine {
  height: 90%;
  width: 100%;
  background: red;
  border: 3px solid black;
}

.pokedex-empty-right {
  height: 11.5%;
}

.pokedex-right-top {
  height: 6.5%;
  width: 100%;
  background: red;
  /* border: 3px solid black; */
  clip-path: polygon(0% 0%, 30% 0%, 50% 100%, 0% 100%);
}

.pokedex-right-main {
  height: 82%;
  width: 100%;
  background: red;
  /*border: 3px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-screen {
  height: 150px;
  width: 315px;
  background: green;
  border-radius: 10px;
}

.blue-buttons {
  height: 80px;
  width: 315px;
  background: blue;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.blue-button {
  height: 50%;
  width: 20%;
  border: 1px solid black;
}

.small-button-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.right-small-red-button-container {
  display: flex;
}

.right-red-button {
  height: 20px;
  width: 20px;
  background-image: radial-gradient(circle at top left, white, red 20px);
  border-radius: 50%;
}

.right-black-button-container {
  display: flex;
}

.right-black-button {
  height: 20px;
  width: 80px;
  background: black;
  border-radius: 20px;
}

.white-orange-button-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.white-buttons {
  height: 40px;
  width: 80px;
  background: white;
  border-radius: 3px;
}

.right-yellow-light {
  height: 20px;
  width: 20px;
  background-image: radial-gradient(circle at top left, white, yellow 20px);
  border-radius: 50%;
}

.right-bottom-screens {
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.right-bottom-screen {
  height: 40px;
  width: 40%;
  background: green;
  border-radius: 10px;
}
